<div class="rsvps-container">
  <div class="rsvps-header">
    <h2>R.S.V.P.'s</h2>
  </div>
  <div class="rsvps-list">
    <h2 class="rsvps-list__header name">Name</h2>
    <h2 class="rsvps-list__header attending">Attending</h2>
    <h2 class="rsvps-list__header comments">Comments / Concerns</h2>

    <div class="rsvps-list-items">

      <div class="rsvp" *ngFor="let rsvp of rsvps">
        <p class="name list-item">{{rsvp.firstName}} {{rsvps.lastName}}</p>
        <p class="attending list-item">
          <i class="fas fa-check" *ngIf="rsvp.attending"></i>
          <i class="fas fa-times" *ngIf="!rsvp.attending"></i>
        </p>
        <p class="comments list-item">{{rsvp.comments}}</p>
      </div>

    </div>
    
  </div>
</div>
