.rsvps-container {
  width: 100%;
  display: grid;
  grid-template-rows: 11rem 5rem 1fr;
}

.rsvps-header {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f8ff;
  font-family: 'Stalemate', cursive;
  font-size: 3rem;
  letter-spacing: .75rem;
}

.rsvps-list { 
  grid-row: 3/4;
  display: grid;
  width: 70rem;
  grid-template-columns: 1.5fr 1.5fr 3fr;
  grid-row: 3rem 1fr;
  justify-self: center;
  grid-gap: 1rem;
}

.rsvps-list__header {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  grid-row: 1/2;

}

.attending {
  grid-column: 2/3;

}

.comments {
  grid-column: 3/4;
}

.name {
  grid-column: 1/2;
}

.rsvps-list-items {
  grid-row: 2/3;
  grid-column: 1/4;
  width: 100%;
}

.rsvp {
  background-color: rgba(0, 0, 0, .3);
  color: #f8f8ff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1.5fr 3fr;
  grid-gap: .5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 70rem) {
  .rsvps-list {
    width: 50rem;
  }
}

@media screen and (max-width: 50rem) {
  .rsvps-list {
    width: 40rem;
  }
}

@media screen and (max-width: 40rem) {
  .rsvps-list {
    width: 30rem;
  }
}
