<div class="rsvp-container">
  <div class="header">
    <h2>R.S.V.P.</h2>
  </div>
  <div class="form-container">
    <form action=""></form>

      <div class="confirm-decline">
        <div class="switch-text">
          <p class="cd-text">Will Your party be attending?</p>
          <label class="switch">
            <input type="checkbox" name="attending" ngModel>
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="comments">
        <label class="comments-label" for="comments">Comments and Concerns</label>
        <textarea class="comments-textarea" name="comments" cols="30" rows="10"></textarea>
      </div>

      <div class="submit-container">
        <input class="submit" type="submit">
      </div>
  </div>
</div>
