<div class="rsvp-container">
  <div class="header">
    <h2>R.S.V.P.</h2>
  </div>
  <form class="form-container" (submit)="onFormSubmit(f)" #f="ngForm">

    <div class="confirm-decline">
      <div class="switch-text">
        <p class="cd-text">Will Your party be attending?</p>
        <label class="switch">
          <input type="checkbox" name="attending" ngModel>
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="attending">
      <div class="attending-container">
        <p class="attending__text">Total Number of guests attending</p>
        <input class="attending__input" type="number" name="totalGuests" placeholder="0" ngModel>
      </div>
      <div class="attending-container">
        <p class="attending__text">Number of guests under 6</p>
        <input class="attending__input" type="number" name="under" placeholder="0" ngModel>
      </div>
    </div>

    <div class="comments">
      <label class="comments-label" for="comments">Comments and Concerns</label>
      <textarea class="comments-textarea" name="comments" cols="30" rows="10" ngModel></textarea>
    </div>

    <div class="submit-container">
      <input class="submit" type="submit">
    </div>
  </form>
</div>
