<div class="login-container">
  <form (ngSubmit)="onLoginSubmit(f)" class="login-form" #f="ngForm">

    <h1 class="login-header">Login</h1>

    <div class="flash-message" #flashMessage>
      <p class="flash-message-content" #flashMessageContent></p>
    </div>
    
    <div class="last-name form-group">
      <label for="email">Email</label>
      <input class="input" type="email" id="email" name="email" ngModel>
    </div>

    <div class="last-name form-group">
      <label for="password">Password</label>
      <input class="input" type="password" id="password" name="password" ngModel>
    </div>

    <input class="login-btn" type="submit" value="Login">

    <p class="reset">Don't have an account? <a routerLink="/register">register here.</a></p>

    <p class="register"><a routerLink="/password-reset">Unable to log in?</a></p>

  </form>
</div>
