.register-container {
  min-height: calc(100vh - 50px);
  background: linear-gradient(to top, rgba(165, 242, 243, .4), rgba(37,124,163, .8)),   url('../../../assets/img/5086.jpg');
  background-size: 20rem;
  display: grid;
  grid-template-columns: 1fr 30rem 1fr;
  grid-template-rows: 1fr 35rem 1fr;
}

.register-form {
  font-family: 'Lato', sans-serif;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 10rem repeat(4, 5rem) 2rem 3rem;

}

.register-header {
  font-size: 6rem;
  font-family: 'Stalemate', cursive;
  align-self: center;
  justify-self: center;
}

.form-group {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

label {
  font-size: 1.75rem;
  align-self: center;
  margin-left: .5rem;
}

input:not([submit]) {
  height: 2.5rem;
  width: 95%;
  align-self: center;
  justify-self: center;
  border-radius: .5rem;
  border: none;  
  padding: 0 .25rem;
}



.register-btn {
  font-family: 'Lato', sans-serif;
  letter-spacing: .12rem;
  font-weight: 300;
  height: 3.5rem;
  width: 80%;
  background: linear-gradient( to bottom, #555, #444);
  color: #f8f8ff;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 5px 0px rgba(10, 10, 10, 0.75);
  outline: none;
  grid-row: 7/8;
  font-size: 1.75rem;
}

.register-btn:active {
  transform: translateY(.2rem);
  box-shadow: 1px 1px 5px 0px rgba(10, 10, 10, 0.75);
}

p {
  font-size: 1.25rem;
  grid-row: 8/9;
  align-self: center;
  justify-self: center;
}
