<div class="details-container">
  <div class="spacer"></div>
  <h1 class="details-header">Details</h1>
  <div class="details">
    <div class="details__schedule">
      <h3 class="details__schedule--header">Itenerary</h3>
        <p class="details__schedule--item"><strong>Ceremony:</strong> Warnors Theater - 6:00pm (Guests may arrive as early as 5:30pm)</p>
        <p class="details__schedule--item"><strong>Reception:</strong> Star Palace - Following Ceremony</p>
        <p class="details__schedule--item"><strong>After Party:</strong> Franks Place - 10:00pm to 1:30am</p>
    </div>
  </div>
</div>


