<div class="details-container">
  <div class="spacer"></div>
  <h1 class="details-header">Details</h1>
  <div class="details">
    <div class="details__schedule">
      <h3 class="details__schedule--header">Itenerary</h3>
        <p class="details__schedule--item">
          <strong class="event-title">Ceremony:</strong> Warnors Theater - 6:00pm (Guests may arrive as early as 5:30pm)
        </p>
        <p class="details__schedule--item">
          <strong class="event-title">Reception:</strong> Star Palace - Following Ceremony
        </p>
        <p class="details__schedule--item">
          <strong class="event-title">After Party:</strong> Franks Place - 10:00pm to 1:30am
        </p>
    </div>

    <div class="details__map">
      <h2 class="title">Map</h2>
      <p class="map-item">Parking and Venues</p>
      <p class="map-item"><a target="_blank" href="https://drive.google.com/open?id=1_VAlsarOhHm-akNq2TqZpCqos0HSHpdK&usp=sharing">Google Maps</a></p>
    </div>

    <div class="details__hotels">

        <h2 class="title hotel-title">Hotels</h2>

        <div class="hotel one">
          <h3 class="hotel-title"><a target="_blank" href="https://www.marriott.com/hotels/travel/fatri-residence-inn-fresno/">Residence Inn Mariot</a></h3>
          <p class="hotel-item">5322 N. Dianna Ave.</p>
          <p class="hotel-item">Fresno, CA</p>
          <p><a>559-222-8900</a></p>
        </div>

        <div class="hotel two">
          <h3 class="hotel-title"><a target="_blank" href="http://hamptoninn3.hilton.com/en/hotels/california/hampton-inn-and-suites-fresno-FATCAHX/accommodations/index.html">Hampton Inn</a></h3>
          <p class="hotel-item">327 E. Fir Ave.</p>
          <p class="hotel-item">Fresno, CA</p>
          <p><a>855-516-1090</a></p>
        </div>

        <div class="hotel three">
          <h3 class="hotel-title"><a target="_blank" href="http://www.laquintafresnoriverpark.com/">La Quinta Inn</a></h3>
          <p class="hotel-item">330 E. Fir Ave.</p>
          <p class="hotel-item">Fresno, CA</p>
          <p><a>559-449-0928</a></p>
        </div>

    </div>
  </div>
</div>


