a {
  color: inherit;
  list-style-type: none;
}

.footer {
  height: 2.5rem;
  width: 100%;
  margin-top: -2.5rem;
  z-index: 4;
}

.copy-container {
  height: 2.5rem;
  width: 20rem;
  float: right;
  display: grid;
}

.copy {
  align-self: center;
  justify-self: flex-end;
  color: #333;
  margin-right: .5rem;
  font-size: 1.5rem;
}

