a {
  color: inherit;
  list-style-type: none;
}

.footer {
  height: 5rem;
  width: 100%;
  background-color: #000;
}

.copy-container {
  height: 100%;
  width: 20rem;
  float: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.copy {
  color: #fff;
  margin-right: .5rem;
  font-size: 1.5rem;
}
